body {
	background: #141414;
	color: #ffffff;
}

.header-movie {
  display: flex;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movies>.movie>div>img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.movies>.movie {
  width: 250px;
  height: 250px;
  position: relative;
  margin: 1em;
  cursor: pointer;
  transition: all .3s;
}

.movies>.movie>p {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 250px;
  height: 50px;
  margin: 0;
  text-align: center;
  padding: 12px 0;
  font-weight: 600;
  color: #fff;
  background-color: #ff5000;
}